<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Bandit.Notifier.AwsAccessKey" value="XXXX" />
    <add key="Bandit.Notifier.AwsSecretKey" value="YYYY" />
    <add key="Bandit.Notifier.AwsSnsTopic" value="arn:aws:sns:us-east-1:111111111111:Bandit" />
    <add key="Bandit.TrustedIpRegex" value="^10\.10\.0\.|^192\.168\.|^127\.0\.0\.1$|^::1$|^0\.0\.0\.0$" />
    <add key="Bandit.MaxRequestsPerSecond" value="8" />
    <add key="Bandit.BanDuration" value="0:00:00:10.0000000" />
    <add key="Bandit.IsEnabled" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="DemoApp" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\dos-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>