<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="Bandit.IsEnabled" value="true" />
    <add key="Bandit.BanDuration" value="00:00:10.000" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="DemoApp" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\dos-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>