<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Banhammer.Notifier.AwsAccessKey" value="XXXX" />
    <add key="Banhammer.Notifier.AwsSecretKey" value="YYYY" />
    <add key="Banhammer.Notifier.AwsSnsTopic" value="arn:aws:sns:us-east-1:111111111111:Banhammer" />
    <add key="Banhammer.TrustedIpRegex" value="^10\.10\.0\.|^192\.168\.|^127\.0\.0\.1$|^::1$|^0\.0\.0\.0$" />
    <add key="Banhammer.MaxRequestsPerSecond" value="8" />
    <add key="Banhammer.BanTimeoutInMinutes" value="2" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="DemoApp" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\dos-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>